@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Alex Kochetkov<br />
    Group: M4119<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rs.kochetkov@gmail.com">rs.kochetkov@gmail.com</a><br />
</address>