<div class="container">
    <div class="row">
        <div class="col col-1">
            <h1>Search in file repository</h1>
            <h2>Page author</h2>
        </div>
    </div>
    @*<div class="row">
        <div class="col col-1">
            <ul class="menu top-menu">
                <li>
                    <a href="#">Menu item 1</a>
                </li>
                <li>
                    <a href="#">Menu item 2</a>
                </li>
                <li>
                    <a href="#">Menu item 3</a>
                </li>
                <li>
                    <a href="#">Menu item 4</a>
                </li>
            </ul>
        </div>
    </div>*@
    <div class="row">
        <div class="col col-4">
            @*<h2>
                Related posts
            </h2>*@
            <ul class="menu left-menu">
                <li>
                    <a href="#">Home</a>
                </li>

                <li>
                    <a href="#">Link 2</a>
                </li>
                <li>
                    <a href="#">Link 3</a>
                </li>
                <li>
                    <a href="#">Link 4</a>
                </li>
            </ul>
        </div>
        @*<div class="col col-3-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a fringilla urna. Donec dignissim massa eget malesuada placerat. Nam tincidunt vitae libero at pellentesque.
                Praesent suscipit erat augue, nec malesuada est efficitur in. Etiam non scelerisque elit. Etiam sit amet tristique urna, at sagittis est. Donec leo orci, mattis sit amet volutpat
                finibus, tristique sed sem. Nulla sit amet sollicitudin enim, ut porttitor purus.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a fringilla urna. Donec dignissim massa eget malesuada placerat. Nam tincidunt vitae libero at pellentesque.
                Praesent suscipit erat augue, nec malesuada est efficitur in. Etiam non scelerisque elit. Etiam sit amet tristique urna, at sagittis est. Donec leo orci, mattis sit amet volutpat
                finibus, tristique sed sem. Nulla sit amet sollicitudin enim, ut porttitor purus.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a fringilla urna. Donec dignissim massa eget malesuada placerat. Nam tincidunt vitae libero at pellentesque.
                Praesent suscipit erat augue, nec malesuada est efficitur in. Etiam non scelerisque elit. Etiam sit amet tristique urna, at sagittis est. Donec leo orci, mattis sit amet volutpat
                finibus, tristique sed sem. Nulla sit amet sollicitudin enim, ut porttitor purus.
            </p>
        </div>*@
    
    @*<div class="row">
        <div class="col col-1">
            <h2>
                Images gallery
            </h2>
        </div>
        <div class="col col-4">
            <img src="~/Content/images/img_1.jpg" />
        </div>
        <div class="col col-4">
            <img src="~/Content/images/img_2.jpg" />
        </div>
        <div class="col col-4">
            <img src="~/Content/images/img_3.jpg" />
        </div>
        <div class="col col-4">
            <img src="~/Content/images/img_4.jpg" />
        </div>
    </div>*@
    @*<div class="row">*@
        <div class="col col-3-4">
            @*<h2>
                Search page
            </h2>*@
            <form class="form-control">
                <div class="form-field">
                    <label for="login">Search</label>
                    <input type="text" name="login" id="login" />

                </div>
                @*<div class="row">*@
                    <div class="col col-3-4">
                        <input type="checkbox" class="checkbox" id="checkbox" />
                        <label for="checkbox">Искать только в моих репозиториях</label>
                    </div>
                    <div class="col col-1">
                        <input type="checkbox" class="checkbox" id="checkbox" />
                        <label for="checkbox">Искать только изображения</label>
                        <input type="checkbox" class="checkbox" id="checkbox" />
                        <label for="checkbox">Искать только видеофайлы</label>
                        <input type="checkbox" class="checkbox" id="checkbox" />
                        <label for="checkbox">Искать только аудиофайлы</label>
                        <input type="checkbox" class="checkbox" id="checkbox" />
                        <label for="checkbox">Искать только проекты</label>
                    </div>
                <div class="row">
                    <div class="col col-1">
                        <input type="submit" value="Search" />
                        <div class="col col-1">
                            <iframe name="result"></iframe>
                        </div>
                    </div>
                    </div>
                        @*<div class="form-field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" />
            </div>
            <div class="form-field">
                <label for="password-confirm">Confirm password</label>
                <input type="password" name="password-confirm" id="password-confirm" />
            </div>
            <div class="form-field">
                <label for="firstname">First name</label>
                <input type="text" name="firstname" id="firstname" />
            </div>
            <div class="form-field">
                <label for="lastname">Last name</label>
                <input type="text" name="lastname" id="lastname" />
            </div>*@
                        @*<div class="form-field">
                <label for="degree">Scientific degree</label>
                <select name="degree" id="degree">
                    <option>None</option>
                    <option>School</option>
                    <option>Barchelor</option>
                    <option>Master</option>
                    <option>PhD</option>
                    <option>Professor</option>
                </select>
            </div>
            <input type="submit" value="Submit" />*@
</form>
        </div>
    @*</div>*@
</div>