<div class="search">
    <p> Здесь находится страница поиска
    <p>
        @Html.ActionLink("главная","Index")
    <p>
        @Html.ActionLink("личная страница","PersonalPage")
    <p>
        @Html.ActionLink("просмотр файла","FilePage")

<!-- 
    Или, если вы хотите использовать картинки, кнопки и прочее в качестве ссылки, то используйте следующую конструкцию.
    <a href='@Url.Action("Index")'>
        <img src="~/Content/img/exit_icon.png" />
    </a>
-->
</div>