html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0 10%;
}
div.personalPage {
  height: 100%;
  background-color: #00ccff;
}
div.personalPage h5 {
  font-weight: "normal";
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 200%;
}
div.personalPage h5::first-letter {
  font-family: "ALGERIAN";
  font-size: 150%;
}
div.personalPage h6 {
  font-weight: "normal";
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 120%;
}
div.personalPage h6::first-letter {
  font-family: "ALGERIAN";
  font-size: 120%;
}
div.personalPage table {
  width: 100%;
  height: 100%;
}
div.personalPage tr.header {
  height: 20%;
}
div.personalPage tr.base {
  height: 40%;
}
div.personalPage td {
  valign: "top";
}
div.personalPage table.databaseTable {
  height: auto;
}
div.personalPage table.databaseTable tr {
  height: 30px;
  border: 1px solid black;
}
div.personalPage table.databaseTable tr td {
  height: 30px;
}
div.personalPage col.databaseIcon {
  width: 30px;
}
div.personalPage table.indexTable {
  height: 40%;
}
div.personalPage div.databaseDiv {
  background-color: white;
  overflow-y: auto;
  width: 100%;
  min-width: 400px;
  height: 100%;
  min-height: 30px;
}
div.personalPage button {
  margin: 5% 0 5% 25%;
  display: block;
  width: 50%;
  min-width: 60px;
  height: 20%;
  min-height: 40px;
  background-color: #00ccff;
  border: 5px groove #080808;
  border-radius: 7px;
  font-weight: bold;
}
div.personalPage select {
  width: 100%;
  font-size: 120%;
  margin: 5% 0 0 0;
}
div.personalPage img {
  width: 80%;
  max-width: 50px;
}
.index html {
  font-size: 14px;
  font-family: "Segoe UI";
}
.index body {
  width: 100%;
  margin: 0;
  float: left;
  height: 100%;
}
.index h1 {
  font-size: 28px;
  text-align: center;
  margin: 0.4% auto;
}
.index h2 {
  font-size: 18.2px;
  text-align: center;
  margin: 0.2% auto;
  color: #555555;
}
.index img {
  max-height: 200px;
  max-width: 100%;
  margin: 0.2% auto;
  display: block;
}
.index .container {
  width: 70%;
  display: table;
  margin: 0 auto;
  background-color: #f6f6f6;
}
.index .row {
  width: 99.6%;
  margin: 0;
  display: block;
  float: left;
  padding: 0.2%;
}
.index .col {
  float: left;
  margin: 0.4%;
  text-align: justify;
  padding: 0.4%;
}
.index .col-1 {
  width: 98.4%;
}
.index .col-2 {
  width: 48.4%;
}
.index .col-3 {
  width: 31.73333333%;
}
.index .col-2-3 {
  width: 65.06666667%;
}
.index .col-4 {
  width: 23.4%;
}
.index .col-3-4 {
  width: 73.4%;
}
@media all and (max-width: 1000px) {
  .index .container {
    width: 95%;
  }
  .index .row {
    width: 99.7%;
    padding: 0.3%;
  }
  .index .col {
    margin: 0.3%;
    padding: 0.3%;
  }
  .index .col-1 {
    width: 98.8%;
  }
  .index .col-2 {
    width: 48.8%;
  }
  .index .col-3 {
    width: 32.13333333%;
  }
  .index .col-2-3 {
    width: 65.46666667%;
  }
  .index .col-4 {
    width: 23.8%;
  }
  .index .col-3-4 {
    width: 73.8%;
  }
}
@media all and (max-width: 850px) {
  .index .col-4 {
    width: 48.8%;
  }
  .index .col-3-4 {
    width: 48.8%;
  }
}
@media all and (max-width: 650px) {
  .index .col-3 {
    width: 48.8%;
  }
  .index .col-2-3 {
    width: 48.8%;
  }
}
@media all and (max-width: 500px) {
  .index .row {
    width: 99.4%;
    padding: 0.3%;
  }
  .index .container {
    width: 100%;
  }
  .index .col {
    margin: 0.3%;
    padding: 0.3%;
  }
  .index .col-1 {
    width: 98.8%;
  }
  .index .col-2 {
    width: 98.8%;
  }
  .index .col-3 {
    width: 98.8%;
  }
  .index .col-2-3 {
    width: 98.8%;
  }
  .index .col-4 {
    width: 98.8%;
  }
  .index .col-3-4 {
    width: 98.8%;
  }
}
.index ul.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.index ul.menu li {
  text-align: center;
  padding: 0;
  display: inline-block;
  float: left;
}
@media only screen and (max-width: 500px) {
  .index ul.menu li {
    display: block;
    width: 100%;
  }
}
.index ul.menu li a {
  border-radius: 6px;
  /* свойство для тех кто его поддерживает */
  -moz-border-radius: 6px;
  /* для firefox */
  -webkit-border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  background-color: #e1e1e1;
  color: #2f2f2f;
  text-decoration: none;
  padding: 2% 0;
}
.index ul.menu li a:hover {
  background-color: #d5d5d5;
}
.index ul.menu li a:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.index .top-menu li {
  width: 32.53333333%;
  margin: 0.8% 0.4%;
}
.index .top-menu li a {
  display: block;
}
.index .tabs {
  background: #e1e1e1;
  margin: 0 0 30px;
}
.index .tabs__caption {
  height: 28px;
  line-height: 25px;
  list-style: none;
  border-bottom: 1px solid #DDD;
  background: #FFF;
}
.index .tabs__caption li {
  float: left;
  display: inline;
  margin: 0 1px -1px 0;
  padding: 0 13px 1px;
  color: #e1e1e1;
  cursor: pointer;
  background: #F9F9F9;
  border: 1px solid #E4E4E4;
  border-bottom: 1px solid #F9F9F9;
  position: relative;
}
.index .tabs__caption li:hover,
.index .tabs__caption .active {
  color: #444;
  background: #e1e1e1;
  padding: 0 13px 2px;
  border: 1px solid #D4D4D4;
  border-bottom: 1px solid #EFEFEF;
}
.index .tabs__content {
  display: none;
  border: 0.4% solid #D4D4D4;
  border-width: ;
  background: #e1e1e1;
  padding: 0 12px;
}
.index .tabs__content.active {
  display: block;
}
.index .form-control {
  width: 100%;
  margin: 0;
  display: inline-block;
}
.index .form-control .form-field {
  width: 100%;
  margin: 0.4% 0;
}
.index .form-control .form-field label {
  width: 155px;
  display: inline-block;
  vertical-align: top;
  line-height: 25px;
}
.index .form-control .form-field input,
.index .form-control .form-field select {
  border-radius: 5px;
  /* свойство для тех кто его поддерживает */
  -moz-border-radius: 5px;
  /* для firefox */
  -webkit-border-radius: 5px;
  border: none;
  padding-left: 0.13333333%;
  font-family: "Segoe UI";
  font-size: 14px;
  width: 99.4%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  height: 20px;
  line-height: 20px;
}
.index .form-control input[type="submit"] {
  margin-top: 1.6%;
  border: 0;
  height: 35px;
  width: 120px;
  background-color: #e1e1e1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.index .form-control input[type="submit"]:hover {
  background-color: #d5d5d5;
}
.index .form-control input[type="submit"]:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}